dist/
build/

bop_worldgen/
mods/
natives/
saves/
resourcepacks/
screenshots/
logs/
crash-reports/
emojiful/

**/*.zip
**/*.dat
**/*.dat_old
**/*.bak

/config.json
/config.bak.json
/config_new_temp.json
/knownkeys.txt
/options.txt
/realms_persistence.json
/usercache.json
/usernamecache.json
simple-rpc/server-entries.toml
TrashSlotSaveState.json

config/*
!config/
!config/.gitignore

defaultconfigs/*
!defaultconfigs/
!defaultconfigs/.gitignore

local/
!local/ftbchunks/client-config.snbt

kubejs/exported/