!biomeoplenty/
!defaultoptions/options.txt
!defaultoptions/keybindings.txt
!alexsmobs.toml
!ambientsounds-client.json
!bcc-common.toml
!chunkanimator-client.toml
!cobblegenrandomizer-common.toml
!fastbench.cfg
!oreexcavation-common.toml
!packmenu.cfg
!quark-common.toml
!sophisticatedbackpacks-common.toml
!terrablender.toml
!toms_storage-common.toml
!waystones-common.toml
!simple-rpc.toml